/* service section begins */
.service{
    padding-top: 92px;
  }
  .service-wrapper>div{
    text-align: center;
    margin-bottom: 20px;
  }
  .service-wrapper>div>div:nth-child(1){
    width: 260px;
    height: auto;
    margin: 0 auto;

 }
 .service-wrapper>div>h3{
   font-weight: 400;
   font-size: 26px;
   margin-top: 20px;

}
.service-wrapper>div>p{
    font-weight: 300;
    font-size:14px ;
    color:grey;
   margin-bottom:15px;

    
}
.service-wrapper>div:nth-child(1)>div:nth-child(1){
    width: 272px;
    height: auto;
}
/* service section ends */
/* campus section starts */
.campus{
  width: 100%;
  background-color: #ebebeb;
  padding: 30px;
}
.campus-wrapper>h1{
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 10px;
}
.campus-wrapper>p{
  font-weight: 300;
  font-size: 20px;
  
}
.campus-wrapper>:nth-child(2){
  margin-bottom: 20px;
}
/* campus section ends */
/* delivery section begins */
.delivery{
  padding: 50px;
}
.delivery-wrapper{
  display: flex;
  gap: 15px;
}

.delivery-wrapper>div:nth-child(1)>img{
  width: 280px;
  height: 327px;
}  
.delivery-wrapper>div:nth-child(2)>h1{
  font-weight: 400;
  font-size: 39px;
  margin: 20px 0;


}
.delivery-wrapper>div:nth-child(2)>p{
  font-weight: 300;
  font-size: 22px;
}




/* delivery section ends */

/* media query begins  */
@media  screen and (max-width:750px) {
  .delivery-wrapper{
    flex-direction: column;
    align-items: center;
  }
  
}
@media screen and (max-width:350px) {
    
  .service-wrapper>div>div:nth-child(1),
  .service-wrapper>div:nth-child(1)>div:nth-child(1){
    width: 50%;
  }
  .campus-wrapper{
    text-align: center;
  }
.campus-wrapper>h1{
    font-size: 30px;
  }
.campus-wrapper>p{
    font-size: 18px;
  }
.delivery-wrapper>div:nth-child(2)>h1{
    font-size: 29px;
  }
.delivery-wrapper>div:nth-child(2)>p{
    font-size: 15px;
  }
  
  
}
/* media query ends */